<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
    	.text{
        text-shadow: 5px 4px .3rem white;
        font-weight: bold;
      }
    </style>
    <title>e-Pasar</title>
  </head>
  <body>



  <!-- Navbar Awal -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  	<div class="container">
		  <a class="navbar-brand" href="index.html">e-Pasar</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="kantong.html">Kantong <span class="badge badge-pill badge-dark">3</span></a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0" action="" method="post">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
  	</div>
	</nav>
	<!-- Navbar Akhir -->


	<!-- Jumbotron Awal -->
	<div class="jumbotron jumbotron-fluid" style="background: url('../../assets/img/gambar/6.png'); background-size: cover; background-position: center;">
	  <div class="container">
	    <h1 class="display-4 text">e-Pasar Manokwari</h1>
	    <p class="lead text">Menjual Produk Lokal Seperti Makanan, Pakaian, Aksesoris dan lain-lain. Berlokasi di Sanggeng Pasar Ikan</p>
	  </div>
	</div>
	<!-- Jumbotron Akhir -->

	<!-- Main Awal -->
	<div class="container">
		<!-- Breadcrumb Awal |-->
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li><a class="nav-link" href="#">Produk Baru</a></li>
		    <li><a class="nav-link" href="#">Produk Diskon</a></li>
		    <li><a class="nav-link" href="#">Makanan</a></li>
		    <li><a class="nav-link" href="#">Pakaian</a></li>
		    <li><a class="nav-link" href="#">Aksesoris</a></li>
		    <li><a class="nav-link" href="#">Elektronik</a></li>
		  </ol>
		</nav>
		<!-- Breadcrumb Akhir -->
		
		<!-- Inti Awal -->
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				<div class="card bg-light">
				  <img src="../../assets/img/gambar/1.png" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Nama Produk</h5>
				    <p class="card-text">Rp. 75.000</p>
				    <a href="detail.html" class="btn btn-dark">Detail</a>
				  </div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				<div class="card bg-light">
				  <img src="../../assets/img/gambar/1.png" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Nama Produk</h5>
				    <p class="card-text"><s>Rp. 75.000</s> <mark>Rp. 70.000</mark></p>
				    <a href="detail.html" class="btn btn-dark">Detail</a>
				  </div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				<div class="card bg-light">
				  <img src="../../assets/img/gambar/1.png" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Nama Produk</h5>
				    <p class="card-text">Rp. 75.000</p>
				    <a href="detail.html" class="btn btn-dark">Detail</a>
				  </div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				<div class="card bg-light">
				  <img src="../../assets/img/gambar/1.png" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Nama Produk</h5>
				    <p class="card-text">Rp. 75.000</p>
				    <a href="detail.html" class="btn btn-dark">Detail</a>
				  </div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				<div class="card bg-light">
				  <img src="../../assets/img/gambar/1.png" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Nama Produk</h5>
				    <p class="card-text"><s>Rp. 75.000</s> <mark>Rp. 70.000</mark></p>
				    <a href="detail.html" class="btn btn-dark">Detail</a>
				  </div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				<div class="card bg-light">
				  <img src="../../assets/img/gambar/1.png" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Nama Produk</h5>
				    <p class="card-text">Rp. 75.000</p>
				    <a href="detail.html" class="btn btn-dark">Detail</a>
				  </div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				<div class="card bg-light">
				  <img src="../../assets/img/gambar/1.png" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Nama Produk</h5>
				    <p class="card-text">Rp. 75.000</p>
				    <a href="detail.html" class="btn btn-dark">Detail</a>
				  </div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				<div class="card bg-light">
				  <img src="../../assets/img/gambar/1.png" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Nama Produk</h5>
				    <p class="card-text"><s>Rp. 75.000</s> <mark>Rp. 70.000</mark></p>
				    <a href="detail.html" class="btn btn-dark">Detail</a>
				  </div>
				</div>
			</div>
		</div>
		<!-- Inti Akhir -->
	</div>
	<!-- Main Akhir -->


	<!-- Footer Awal -->
	<div class="p-3 mb-2 bg-dark text-white justify-content-center">
		<div class="text-center">create by imanuel nauw</div>
	</div>
	<!-- Footer Akhit -->
    




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>